.icon {
  margin-left: 25px;
  margin-top: 2px;
  font-size: x-large !important;
  color: rgb(164, 164, 164) !important;
}

.icon:hover {
  color: white !important;
}

.delete {
  background-color: red !important;
  color: white !important;
  border: 2px solid red !important;
  margin-left: 5px;
}

.delete:hover {
  background-color: white !important;
  color: red !important;
}

.edit {
  background-color: black !important;
  color: white !important;
  border: 2px solid black !important;
}

.edit:hover {
  background-color: white !important;
  color: black !important;
}
